<!-- Please remove this file from your project -->
<template>
  <div>
    <h1>DASHBOARD</h1>
    <img
      src="~/assets/images/jpg/nature-ku.jpg"
      class="my-home-banner1 img-fluid"
    />
  </div>
</template>

<script>
export default {}
</script>
