.my-root {
    height: 100vh;
    color: blueviolet;
    font-family: 'RobotoSlab-Regular';
    font-weight: bold;
}

.my-profile {
    color: red;
}

.my-home-banner1 {
    border-radius: 15px;
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf') format('truetype');
  }