<template>
  <div>
    <ul v-for="mountain in mountains" :key="mountain.id">
      <div class="card">
        <h5 class="card-title">{{ mountain.title }}</h5>
        <div class="card-body">{{ mountain.body }}</div>
      </div>
    </ul>
  </div>
  <!-- <div>
    <ul v-for="mountain in mountains" :key="mountain.slug">
      <li>{{ mountain.title }}</li>
    </ul>
  </div> -->
</template>
s
<script>
import Tutorial from '~/components/Tutorial.vue'
import NuxtLogo from '~/components/NuxtLogo.vue'
export default {
  async asyncData({ $axios, $config }) {
    const mountains = await $axios.$get(`/posts`)
    return { mountains }
  },
  components: { Tutorial, NuxtLogo },
}
</script>
